.clickable-row:hover {
	cursor: pointer;
}

/* Default table looks less blocky. Keeping this for reference.
.trails {
	margin: 0% 10%;
}

.trails-table {
	border: 1px solid currentColor;
}

.mat-column {
	font-size: 16px;
}

.mat-column-id {
	width: 32px;
	padding-right: 24px;
	text-align: center;
	border-right: 1px solid currentColor;
}
*/